In [1]:
8 % 5

3

In [2]:
var = 2

In [3]:
var

2

In [4]:
x = 2
y = 3

In [5]:
x + y

5

In [6]:
x = x + x

In [7]:
x

4

In [8]:
#For comments

In [9]:
#Strings

In [10]:
'single quote'

'single quote'

In [11]:
"double quotes"

'double quotes'

In [12]:
"I can't go"

"I can't go"

In [13]:
x = 'hello'

In [14]:
print(x)

hello

In [15]:
num = 12
name = 'Sam'

In [16]:
 print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [17]:
 print('My number is {two} and my name is {one}'.format(two=num,one=name))

My number is 12 and my name is Sam

In [18]:
s = 'hello'

In [19]:
s[1]

'e'

In [20]:
s[3]

'l'

In [21]:
s[1:]

'ello'

In [22]:
s[:4]

'hell'

In [23]:
s[0:3]

'hel'

In [24]:
#Lists

[1,2,3]

[1, 2, 3]

In [25]:
['a','b','c']

['a', 'b', 'c']

In [26]:
my_list = ['a','b','c']

In [27]:
my_list.append('d')

In [28]:
my_list

['a', 'b', 'c', 'd']

In [29]:
my_list[0]

'a'

In [30]:
#Grabbing items off a list

my_list[1:3]

['b', 'c']

In [31]:
my_list[0] = 'New'

In [32]:
my_list

['New', 'b', 'c', 'd']

In [33]:
nest = [1,2,[3,4]]

In [34]:
nest

[1, 2, [3, 4]]

In [35]:
nest[2][1]

4

In [36]:
nest = [1,2,3,[4,5,['target']]]

In [37]:
nest[3]

[4, 5, ['target']]

In [38]:
print(nest[3][2][0])

target

In [39]:
#Dictionaries

d = {'key1':'value','key2':123}

In [40]:
d['key1']

'value'

In [41]:
d = {'k1':[1,2,3]}

In [42]:
d['k1'][1]

2

In [43]:
d = {'k1':{'innerkey':[1,2,3]}}

In [44]:
d['k1']['innerkey'][1]

2

In [45]:
#Tuples and Sets

In [46]:
t = (1,2,3)

In [47]:
t[1]

2

In [48]:
#Tuple is immutable and set is a collection of unique elements

In [49]:
s = {1,2,3,1,2,3,1,4,5,6,5,4,3,3,2,6,7,4,3,4}

In [50]:
set([1,2,3,4,4,5,5,2,2,3,2,1,1,5])

{1, 2, 3, 4, 5}

In [51]:
tuple([1,2,3,1,2,3])

(1, 2, 3, 1, 2, 3)

In [52]:
s.add(8)

In [53]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
#Comparisons

In [55]:
1 > 2

False

In [56]:
1 < 2

True

In [57]:
1 >= 2

False

In [58]:
1 != 1

False

In [59]:
'hi' != 'bye'

True

In [60]:
1 < 2 and 3 > 4

False

In [61]:
1 < 2 or 3 > 4

True

In [62]:
True or False or True

True

In [63]:
#If, elif and else statements

In [64]:
if 1 < 2:
    print('yep!')

yep!

In [65]:
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Mid')
else:
    print('Last ')

Mid

In [66]:
#for loops and while loops

In [67]:
seq = [1,2,3,4,5]

In [68]:
for x in seq:
    print(x)

1
2
3
4
5

In [69]:
for x in seq:
    print('hello')

hello
hello
hello
hello
hello

In [70]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [71]:
for x in range(0,30,3):
    print('The resulting number is {} '.format(x))

The resulting number is 0
The resulting number is 3
The resulting number is 6
The resulting number is 9
The resulting number is 12
The resulting number is 15
The resulting number is 18
The resulting number is 21
The resulting number is 24
The resulting number is 27

In [72]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [73]:
#List comprehension

In [74]:
the_list = [1,2,3,4]

In [75]:
out = []

for num in the_list:
    out.append(num**2)

In [76]:
out

[1, 4, 9, 16]

In [77]:
[num**2 for num in the_list]

[1, 4, 9, 16]

In [78]:
#Functions

In [79]:
def my_func(param1):
    print(param1)

In [80]:
my_func('Hello')

Hello

In [81]:
def greet(name):
    print('Hello ' + name)

In [82]:
greet('Mona Lee')

Hello Mona Lee

In [83]:
#If we want to set a default value for our function

def greet(name='John Doe'):
    print('Hello ' + name)

In [84]:
greet()

Hello John Doe

In [85]:
def square(num):
    return num**2

In [86]:
output = square(2)

In [87]:
output

4

In [88]:
#Writing the same function as a lambda expression

In [89]:
cube = lambda num:num**3

In [90]:
output = cube(3)
output

27

In [91]:
#Map and Filter function in python

In [92]:
seq = [1,2,3,4,5]

In [93]:
list(map(cube,seq))

[1, 8, 27, 64, 125]

In [94]:
#Using lambda to map

In [95]:
list(map(lambda num:num**3,seq))

[1, 8, 27, 64, 125]

In [96]:
#Filter

In [97]:
list(filter(lambda num:num%2 == 0, seq))

[2, 4]

In [98]:
text = ['string','satchel','aspen','crayon','silk','riverside','soy']

In [99]:
list(filter(lambda x:x[0]=='s', text))

['string', 'satchel', 'silk', 'soy']

In [100]:
#Methods

In [101]:
s = 'hello my name is Sam'

In [102]:
s.lower()

'hello my name is sam'

In [103]:
s.upper()

'HELLO MY NAME IS SAM'

In [104]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [105]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')[1]

'Sports'

In [107]:
d = {'k1':1,'k2':2}

In [108]:
d.keys()

dict_keys(['k1', 'k2'])

In [109]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [110]:
d.values()

dict_values([1, 2])

In [111]:
leest = [1,2,3]

In [112]:
leest.pop()

3

In [113]:
leest

[1, 2]

In [114]:
leest = [1,2,3,4,5]

In [115]:
item = leest.pop()

In [116]:
item

5

In [117]:
leest.pop(1)

2

In [118]:
leest

[1, 3, 4]

In [119]:
leest.append('new item')

In [120]:
leest

[1, 3, 4, 'new item']

In [121]:
'x' in [1,2,3]

False

In [122]:
'x' in ['x','y','z']

True

In [123]:
#Tuple unpacking

In [124]:
x = [(1,2),(3,4),(5,6)]

In [125]:
x[1][1]

4

In [126]:
for num1,num2 in x:
    print(num2)

2
4
6

In [127]:
#Some Questions to Practice

In [128]:
#What is 7 to the power of 4?

7**4

2401

In [129]:
#Split this string: s = "Hi there Sam!" into a list

s = "Hi there Sam!"

s.split()

['Hi', 'there', 'Sam!']

In [130]:
#Given the variables:

#planet = "Earth"
#diameter = 12742
#Use .format() to print the following string: The diameter of Earth is 12742 kilometers.

planet = "Earth"
diameter = 12742

In [131]:
print('The diameter of {a} is {b} kilometers.'.format(a=planet,b=diameter))

The diameter of Earth is 12742 kilometers.

In [132]:
#Given this nested list, use indexing to grab the word "hello"
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [133]:
lst[3][1][2][0]

'hello'

In [134]:
#Given this nested dictionary grab the word "hello"
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [135]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [136]:
#Create a func that grabs the email website domain from a string in the form:
#user@domain.com

In [137]:
domainGet = lambda d:d.split('@')[1]

In [138]:
domainGet('user@domain.com')

'domain.com'

In [139]:
domainGet('swisscheese@parmesan.com')

'parmesan.com'

In [140]:
#Create a basic function that returns True if the word 'dog' is contained 
#in the input string. Don't worry about edge cases like a punctuation being 
#attached to the word dog, but do account for capitalization

In [141]:
def findDog(x):
    if 'dog' in x.lower().split():
        return True
    else:
        return False

In [142]:
findDog('Is there a dog here')

True

In [143]:
findDog('Who let the cats out')

False

In [144]:
#Create a function that counts the number of times the word "dog" occurs in a string. 
#Again ignore edge cases

In [145]:
def countDog(x):
    count = 0
    for word in x.lower().split():
        if word == 'dog':
            count += 1
    return count

In [146]:
countDog('This dog runs faster than the other dog dude!')

2

In [147]:
countDog('The dog pound is not a dog friendly environment for any dog')

3

In [148]:
#Use lambda expressions and the filter() function to filter out words from a list 
#that don't start with the letter 's'. For example

seq = ['soup','dog','salad','cat','great']

#should be filtered down to
#['soup','salad']

In [149]:
list(filter(lambda s:s[0]=='s',seq))

['soup', 'salad']

In [150]:
#You are driving a little too fast, and a police officer stops you.
#Write a function to return one of 3 possible results:

"""
No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, 
#the result is "No Ticket". If speed is between 61 and 80 inclusive, 
#the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". 
#Unless it is your birthday
""" 
#(encoded as a boolean value in the parameters of the function)
#on your birthday, your speed can be 5 higher in all cases

'\nNo ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, \n#the result is "No Ticket". If speed is between 61 and 80 inclusive, \n#the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". \n#Unless it is your birthday\n'

In [151]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding  = speed - 5
    else:
        speeding = speed
        
    if speeding >= 81:
        print('Big Ticket')
        
    elif speeding >= 61:
        print('Small Ticket')
        
    else:
        print('No Ticket')

In [152]:
caught_speeding(81,True)

Small Ticket

In [153]:
caught_speeding(81,False)

Big Ticket

In [154]:
caught_speeding(32,True)

No Ticket

In [155]:
#THE END