In [2]:
8 % 5

3

In [3]:
var = 2

In [4]:
var

2

In [5]:
x = 2
y = 3

In [6]:
x + y

5

In [7]:
x = x + x

In [8]:
x

4

In [9]:
#For comments

In [10]:
#Strings

In [25]:
'single quote'

'single quote'

In [12]:
"double quotes"

'double quotes'

In [13]:
"I can't go"

"I can't go"

In [14]:
x = 'hello'

In [15]:
print(x)

hello

In [16]:
num = 12
name = 'Sam'

In [18]:
 print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [19]:
 print('My number is {two} and my name is {one}'.format(two=num,one=name))

My number is 12 and my name is Sam

In [20]:
s = 'hello'

In [21]:
s[1]

'e'

In [22]:
s[3]

'l'

In [24]:
s[1:]

'ello'

In [26]:
s[:4]

'hell'

In [28]:
s[0:3]

'hel'

In [30]:
#Lists

[1,2,3]

[1, 2, 3]

In [31]:
['a','b','c']

['a', 'b', 'c']

In [32]:
my_list = ['a','b','c']

In [33]:
my_list.append('d')

In [34]:
my_list

['a', 'b', 'c', 'd']

In [35]:
my_list[0]

'a'

In [51]:
#Grabbing items off a list

my_list[1:3]

['b', 'c']

In [37]:
my_list[0] = 'New'

In [38]:
my_list

['New', 'b', 'c', 'd']

In [40]:
nest = [1,2,[3,4]]

In [41]:
nest

[1, 2, [3, 4]]

In [44]:
nest[2][1]

4

In [45]:
nest = [1,2,3,[4,5,['target']]]

In [46]:
nest[3]

[4, 5, ['target']]

In [50]:
print(nest[3][2][0])

target

In [52]:
#Dictionaries

d = {'key1':'value','key2':123}

In [53]:
d['key1']

'value'

In [54]:
d = {'k1':[1,2,3]}

In [56]:
d['k1'][1]

2

In [57]:
d = {'k1':{'innerkey':[1,2,3]}}

In [60]:
d['k1']['innerkey'][1]

2

In [61]:
#Tuples and Sets

In [62]:
t = (1,2,3)

In [63]:
t[1]

2

In [64]:
#Tuple is immutable and set is a collection of unique elements

In [68]:
s = {1,2,3,1,2,3,1,4,5,6,5,4,3,3,2,6,7,4,3,4}

In [66]:
set([1,2,3,4,4,5,5,2,2,3,2,1,1,5])

{1, 2, 3, 4, 5}

In [67]:
tuple([1,2,3,1,2,3])

(1, 2, 3, 1, 2, 3)

In [75]:
s.add(8)

In [76]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [81]:
#Comparisons

In [77]:
1 > 2

False

In [78]:
1 < 2

True

In [79]:
1 >= 2

False

In [80]:
1 != 1

False

In [83]:
'hi' != 'bye'

True

In [84]:
1 < 2 and 3 > 4

False

In [85]:
1 < 2 or 3 > 4

True

In [86]:
True or False or True

True

In [88]:
#If, elif and else statements

In [89]:
if 1 < 2:
    print('yep!')

yep!

In [92]:
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Mid')
else:
    print('Last ')

Mid

In [93]:
#for loops and while loops

In [94]:
seq = [1,2,3,4,5]

In [96]:
for x in seq:
    print(x)

1
2
3
4
5

In [97]:
for x in seq:
    print('hello')

hello
hello
hello
hello
hello

In [98]:
i = 1

while i < 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [104]:
for x in range(0,30,3):
    print('The resulting number is {} '.format(x))

The resulting number is 0
The resulting number is 3
The resulting number is 6
The resulting number is 9
The resulting number is 12
The resulting number is 15
The resulting number is 18
The resulting number is 21
The resulting number is 24
The resulting number is 27

In [105]:
list(range(0,5))

[0, 1, 2, 3, 4]