In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*1

1

In [5]:
1/6

0.16666666666666666

In [6]:
2^4

6

In [7]:
2^4

6

In [8]:
2**4

16

In [10]:
 2+3*5+5x=2
    y=3

22

In [11]:
(2+3) * (5+5)

50

In [12]:
4%2

0

In [13]:
5%2

1

In [14]:
var = 2

In [15]:
var

2

In [16]:
x=2
y=3

In [17]:
x+y

5

In [18]:
y + bvar

NameError: name 'bvar' is not defined

In [19]:
y + var

5

In [20]:
var = y + var

In [21]:
var

5

In [22]:
var12 = 7

In [23]:
name_of_var =3

In [24]:
#Strings

In [25]:
'single quote'

'single quote'

In [26]:
"I can't go"

"I can't go"

In [27]:
print (hello)

NameError: name 'hello' is not defined

In [28]:
print 'hello'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print('hello')? (<ipython-input-28-5a1ef41e7057>, line 1)

In [29]:
print ('hello')

hello

In [30]:
x = hello

NameError: name 'hello' is not defined

In [31]:
x = 'hello'

In [32]:
print(x)

hello

In [33]:
print(var12)

7

In [34]:
num = 12
name = 'Soji'

In [38]:
print('My number is {} and my name is {}'.format(num,name) )

My number is 12 and my name is Soji

In [39]:
fatigued = 'tired'
time = 11

In [43]:
print ("I am very {} especially since it is already {} o' clock {fatigued}".format(fatigued,11))

KeyError: 'fatigued'

In [46]:
var = 'incessant'
emotion = 'annoying'
num = 10

In [57]:
print("{} crickets have been making {} noises around me and it's deathly {}, very {}" .format(num,var,emotion,emotion))

10 crickets have been making incessant noises around me and it's deathly annoying, very annoying

In [58]:
print("There must have been at least {one} boys making all of that {two} ruckus, getting everone around them in their most {three} states" .format(one=num,two=var,three=emotion))

There must have been at least 10 boys making all of that incessant ruckus, getting everone around them in their most annoying states

In [59]:
s = 'hello'

In [60]:
s[0]

'h'

In [61]:
s[4]

'o'

In [62]:
 s[0;]

SyntaxError: invalid syntax (<ipython-input-62-02c320b7ded7>, line 1)

In [63]:
s[0:]

'hello'

In [64]:
s[:3]

'hel'

In [65]:
s [0:3]

'hel'

In [66]:
s[3:4]

'l'

In [67]:
s[3:5]

'lo'

In [68]:
[1,2,3]

[1, 2, 3]

In [70]:
['a','b','c']

['a', 'b', 'c']

In [71]:
my_list =['a','b','c']

In [72]:
my_list.append('d')

In [73]:
my_list

['a', 'b', 'c', 'd']

In [74]:
my_list [3]

'd'

In [75]:
my_list[1:3]

['b', 'c']

In [76]:
my_list[0] ='NEW'

In [77]:
my_list

['NEW', 'b', 'c', 'd']

In [78]:
nest = [1,2, [3,4]]

In [79]:
nest

[1, 2, [3, 4]]

In [80]:
nest[2]

[3, 4]

In [81]:
nest[2][1]

4

In [83]:
nest[0]

1

In [84]:
nest[3][2][0]

IndexError: list index out of range

In [85]:
nest = [1,2,3,[4,5,['target']]]

In [86]:
nest[3][2][0]

'target'

In [88]:
d = {'key1':'pernicious','key2':23}

In [90]:
d['key2']

23

In [92]:
d = {'k1':[1,2,3],'k2':['weetabix','frosties','rice krispies']}

In [93]:
d['k2']

['weetabix', 'frosties', 'rice krispies']

In [94]:
d['k2'][1]

'frosties'

In [95]:
d['k1'][1]

2

In [96]:
d.append['k1':4]

AttributeError: 'dict' object has no attribute 'append'

In [97]:
true

NameError: name 'true' is not defined

In [98]:
True

True

In [99]:
False

False

In [100]:
my_list

['NEW', 'b', 'c', 'd']

In [101]:
my_list[0]

'NEW'

In [102]:
my_list[0] = 'OLD'

In [103]:
my_list

['OLD', 'b', 'c', 'd']

In [108]:
t = (6,4,7,9)

In [109]:
t[2]

7

In [110]:
t[2]=6

TypeError: 'tuple' object does not support item assignment

In [111]:
{1,2,3}

{1, 2, 3}

In [113]:
{4,4,4,2,3,4,1,1,1,76,7,8,5,6,9,5,4,3,3,5,7,3,2,2,0}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76}

In [116]:
s ={7,5,9}

In [117]:
s.add(8)

In [118]:
s

{5, 7, 8, 9}

In [119]:
print(s)

{8, 9, 5, 7}

In [120]:
1 > 2

False

In [121]:
1<2

True

In [122]:
5 <= 8

True

In [124]:
8==8

True

In [125]:
8=8

SyntaxError: can't assign to literal (<ipython-input-125-f5eda14fabc0>, line 1)

In [126]:
8==0

False

In [127]:
1 != 3

True

In [128]:
1<2 and 2<3

True

In [129]:
1<2 or 5>4

True

In [130]:
if 1<2:
    print('Yes it is.')

Yes it is.

In [132]:
x = 2 + 2

In [133]:
x

4

In [135]:
if x == 4:
        print ('That is it')

That is it

In [137]:
if 2 == 4:
    print('Yes')
else:
    print('No')

No

In [138]:
if  2==5:
    print ('Uno')
elif 5==5:
    print('Dos')
else:
    print('Tres')

Dos

In [139]:
 group = [2,3,4,5,6]

In [141]:
for nums in group:
    print ('nums')

nums
nums
nums
nums
nums

In [145]:
i = 1

while i < 5:
    print('i is {}'.format(i))
    i = i + 1

i is 1
i is 2
i is 3
i is 4

In [143]:
one = 1
two = 2

In [144]:
print('I am fascinated by a man who can transform every ${} to ${}'.format(one,two))

I am fascinated by a man who can transform every $1 to $2

In [147]:
range(44,89)

range(44, 89)

In [149]:
range(44,89)[7]

51

In [151]:
list(range(44,48))

[44, 45, 46, 47]

In [152]:
x = [1,2,3,4]

In [159]:
out = []

for digs in x:
    out.append(digs**2)

In [160]:
print (out)

[1, 4, 9, 16]

In [162]:
print([num**2 for num in x])

[1, 4, 9, 16]

In [163]:
[digs + 3 for digs in x]

[4, 5, 6, 7]

In [164]:
def my_func(name):
    print(name)

In [165]:
my_func('Jeyjarts')

Jeyjarts

In [168]:
my_func('Welcome ' + name)

Welcome Soji

In [176]:
def my_maths (dis):
    print (dis)

In [177]:
my_maths(2+2)

4

In [180]:
def square(num):
    return num**2

In [181]:
output = square(2)

In [182]:
output

4

In [185]:
def find_soluytion(val):
    """
    THIS IS MY WAY OF UNDERSTANDING FUNCTIONS
    IT COULD BE AN ACCOUNTING MECHANISM
    """
    return (val *2 + 9 - 6 / 8)

In [186]:
find_soluytion (10)

28.25

In [187]:
find_soluytion

In [188]:
def twople(num):
    return num**2

In [189]:
twople(10)

100

In [190]:
twople(33)

1089

In [192]:
#map func

In [193]:
seq = [2,4,6,8,0]

In [198]:
list(map(twople,seq))

[4, 16, 36, 64, 0]

In [199]:
lambda num : num ** 2